.breadcrumb {
  background-color: #fff;
  margin-top: .5rem;
  margin-bottom: 1rem;
  padding-left: 0;
}

h3 {
  margin-bottom: 24px;
}

.btn-default {
  background-color: rgb(244, 245, 247);
}

.btn-default:hover {
  background-color: lightgray;
}

.btn-group {
  margin-right: 12px;
}

.dropdown-item {
  cursor: pointer;
}

.modal-body .btn-default {
  margin-left: 6px;
}

.modal-body .btn-outline-danger {
  margin-right: 6px;
}

#charts {
  margin-top: 32px;
}