@model IdentityServer.Helpers.ViewModels.ExternalRegisterViewModel

<div class="form-container">
    <div class="form-wrapper">
        <form asp-controller="Auth" asp-action="ExternalRegister" method="post">
            <div class="form-row">
                <h3>Sign Up</h3>
            </div>
            <input type="hidden" asp-for="ReturnUrl" />
            <input type="hidden" asp-for="Email" />
            <div class="form-row">
                <label>Username</label>
                <input asp-for="Username"
                       class="form-control @(@Model.InvalidUsername ? "is-invalid" : "")" />
                @if (Model.InvalidUsername)
                {
                    <div class="invalid-feedback">
                        @Model.InvalidUsernameMessage
                    </div>
                }
            </div>
            <div class="form-row">
                <label>Full name</label>
                <input asp-for="FullName"
                       class="form-control @(@Model.InvalidFullName ? "is-invalid" : "")" />
                @if (Model.InvalidFullName)
                {
                    <div class="invalid-feedback">
                        @Model.InvalidFullNameMessage
                    </div>
                }
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </div>
        </form>
	</div>
</div>

