<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/projects']">Projects</a></li>
    <li class="breadcrumb-item" aria-current="page"><a [routerLink]="['/projects', issue.phase.project.id]">{{issue.phase.project.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{issue.phase.name}}</li>
    <li class="breadcrumb-item active" aria-current="page">{{issue.name}}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-10">
    <h6 class="issue-type">
      <span *ngIf="issue.issueType === 'task'"><fa-icon [icon]="['fas', 'check-square']" size="md" class="task"></fa-icon> Task</span>
      <span *ngIf="issue.issueType === 'bug'"><fa-icon [icon]="['fas', 'bug']" size="md" class="bug"></fa-icon> Bug</span>
    </h6>
    <h3>{{issue.name}}</h3>
  </div>
  <div class="col-md-2">
    <div id="issue-actions">
      <div class="btn-group" dropdown placement="bottom right">
        <button id="issue-options-button" dropdownToggle type="button" class="btn" aria-controls="dropdown-animated">
          <fa-icon [icon]="['fas', 'ellipsis-h']" size="lg"></fa-icon>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="project-options-button">
          <li role="menuitem">
            <a class="dropdown-item" (click)="showModal(editIssueModal)">Edit</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item">Delete</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-star" *ngIf="issuedToCurrentUser" (click)="updateStarred()">
        <fa-icon [icon]="[isStarred ? 'fas': 'far', 'star']" size="lg" [ngClass]="{'gold': isStarred}"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <!-- Left column -->
  <div class="col-md-8">
    <!-- Issue controls -->
    <div class="row issue-controls">
      <div class="col-md-12">
        <button class="btn btn-default">
          <fa-icon [icon]="['fas', 'paperclip']"></fa-icon> Attach
        </button>
        <div class="btn-group" dropdown placement="bottom right">
          <button 
            id="issue-status" 
            dropdownToggle 
            type="button" 
            class="btn dropdown-toggle" 
            aria-controls="dropdown-animated"
            [ngClass]="{
              'btn-default': issue.status === 'to_do',
              'btn-warning': issue.status === 'in_progress',
              'btn-success': issue.status === 'done'
            }">
              {{formatIssueStatus(this.issue.status)}} <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="project-options-button">
            <li role="menuitem">
              <a 
                class="dropdown-item" 
                *ngFor="let status of generateAvailableIssueStatuses()"
                (click)="updateStatus(status)">
                  {{formatIssueStatus(status)}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Description -->
    <div class="row">
      <div class="col-md-12">
        <h6>Description</h6>
        <p>{{issue.description}}</p>
      </div>
    </div>
  </div>
  
  <!-- Right column -->
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12" id="assignees">
        <h6>{{issue.issuedTo.length > 1 ? 'Assignees' : 'Assignee'}}</h6>
        <p *ngFor="let assignee of issue.issuedTo" class="assignee">
          <span class="initials">{{getInitials(assignee.user.fullName)}}</span>
          <span>{{assignee.user.fullName}}</span>
        </p>
        <a (click)="showModal(assigneesModal)" *ngIf="true">Show more...</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="created-by">
        <h6>Created By</h6>
        <p><span class="initials">{{getInitials(issue.createdBy.fullName)}}</span><span>{{issue.createdBy.fullName}}</span></p>
      </div>
    </div>
    <div class="row" *ngIf="issue.labels.length > 0">
      <div class="col-md-12">
        <h6>Labels</h6>
        <p>
          <span class="label" *ngFor="let label of issue.labels; let i = index">
            <span class="label-name">{{label.name}}</span>
            <span *ngIf="i !== issue.labels.length - 1">, </span>
          </span>
        </p>
      </div>
    </div>
    <div class="row" id="priority-row">
      <div class="col-md-12">
        <h6>Priority</h6>
        <div class="btn-group" dropdown placement="bottom right">
          <button 
            id="priority" 
            dropdownToggle 
            type="button" 
            class="btn dropdown-toggle btn-default" 
            aria-controls="dropdown-animated">
              <fa-icon [icon]="['fas', issueIcon[issue.priority]]" size="md" class="{{issuePriority[issue.priority] | lowercase}}"></fa-icon>
              {{issuePriority[issue.priority]}} <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="priority-button">
            <li role="menuitem">
              <a 
                class="dropdown-item" 
                *ngFor="let priority of generateAvailableIssuePriorities()"
                (click)="updatePriority(priority)">
                <fa-icon [icon]="['fas', issueIcon[issue.priority]]" size="md" class="{{issuePriority[priority] | lowercase}}"></fa-icon>
                  {{issuePriority[priority]}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="issue.dueDate">
      <div class="col-md-12">
        <h6>Due date</h6>
        <p>{{printDate(issue.dueDate)}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Assignees modal -->
<div class="modal fade"
     id="assignees-modal"
     bsModal
     #assigneesModal="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">List of all assignees</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal(assigneesModal)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead class="">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Full Name</th>
              <th scope="col">Username</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let assignee of issue.issuedTo; let i = index">
              <th>{{i+1}}</th>
              <td>{{assignee.user.fullName}}</td>
              <td>{{assignee.user.username}}</td>
              <td>
                <button class="btn btn-outline-danger" (click)="deleteAssignee(assignee, assigneesModal)">
                  <fa-icon [icon]="['far', 'trash-alt']" size="md"></fa-icon> Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="showAddAssigneeModal(assigneesModal, addAssigneeModal)">
          <fa-icon [icon]="['fas', 'user-plus']" size="md"></fa-icon> Add Assignee
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Add assignee modal -->
<div class="modal fade" 
     bsModal 
     #addAssigneeModal="bs-modal" 
     (onHidden)="userFullName = ''">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Assign issue to</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal(addAssigneeModal)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label for="name">Name</label>
            <input [(ngModel)]="userFullName"
                   [typeahead]="users$"
                   [typeaheadAsync]="true"
                   [typeaheadItemTemplate]="itemTemplate"
                   [isAnimated]="true"
                   (typeaheadOnSelect)="typeaheadOnSelect($event)"
                   typeaheadOptionField="userFullName"
                   typeaheadWaitMs="1000"
                   type="text" 
                   placeholder="Please enter user's full name" 
                   class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-outline-success btn-block"
                    (click)="addAssignee(addAssigneeModal)"
                    [disabled]="selectedUser === null">Assign</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #itemTemplate let-model="item" let-index="index">
  {{model.userFullName}} <i>({{model.username}})</i>
</ng-template>

<!-- Edit issue modal -->
<div class="modal fade" 
     bsModal 
     #editIssueModal="bs-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Edit {{issue.name}}</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal(editIssueModal)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="issueEditForm" (ngSubmit)="onIssueUpdateSubmit()">       
          <div class="form-row">
            <div class="col-md-6">
              <label for="type">Issue type</label>
              <select class="form-control fa-select" formControlName="issueType">
                <option value="task">&#xf14a; Task</option>
                <option value="bug">&#xf188; Bug</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="startDate">Due date</label>
              <input 
                class="form-control"
                placeholder="Due date"
                bsDatepicker
                formControlName="dueDate"
                [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY.', isAnimated: true, containerClass: 'theme-dark-blue' }">
            </div>
          </div>
          <hr>
          <div class="form-group">
            <label for="name">Summary</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Issue summary">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea cols="30" rows="10" class="form-control" formControlName="description" placeholder="Issue description"></textarea>
          </div>
          <div class="form-group">
            <label for="labels">Labels</label>
            <br>
            <!-- <select multiple class="form-control" formControlName="labels">
              <option *ngFor="let label of labels" value="{{label.id}}">{{label.name}}</option>
            </select> -->
            <div class="form-check form-check-inline" *ngFor="let label of labels">
              <input 
                class="form-check-input" 
                type="checkbox" 
                id="{{label.id}}" 
                [value]="label.id"
                (change)="labelChecked($event)" 
                [checked]="hasLabel(label.id)">
              <label class="form-check-label" for="{{label.id}}">{{label.name}}</label>
            </div>
          </div>
          <button class="btn btn-outline-success btn-block" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>   
</div>