<!-- <div class="container">
</div> -->
<h2>Account settings</h2>
<form [formGroup]="userSettingsForm" (ngSubmit)="updateUserSettings()">
  <!-- Username -->
  <div class="row">
    <div class="col-sm-2">
      <label class="col-form-label">Username: </label>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <fa-icon [icon]="['fas', 'at']"></fa-icon>
          </div>
        </div>
        <input 
          type="text" 
          class="form-control" 
          formControlName="username" 
          placeholder="Username">
      </div>
    </div>
  </div>

  <!-- Full name -->
  <div class="row">
    <div class="col-sm-2">
      <label class="col-form-label">Full name: </label>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
          </div>
        </div>
        <input 
          type="text" 
          class="form-control" 
          formControlName="fullName" 
          placeholder="Full name">
      </div>
    </div>
  </div>

  <!-- Avatar -->
  <div class="row">
    <div class="col-sm-2">
      <label class="col-form-label">Avatar: </label>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
          </div>
        </div>
        <div class="custom-file">
          <input 
            type="file" 
            class="custom-file-input" 
            formControlName="avatar"
            aria-describedby="avatar">
          <label class="custom-file-label" for="avatar">Choose file</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 offset-sm-2">
      <button 
        class="btn btn-block btn-primary"
        type="submit"
        [disabled]="!userSettingsForm.valid">Save settings</button>
    </div>
  </div>
</form>

<h5>Change your password</h5>
<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
  <!-- Current password -->
  <div class="row">
    <div class="col-sm-2">
      <label class="col-form-label">Current Password: </label>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <fa-icon [icon]="['fas', 'user-lock']"></fa-icon>
          </div>
        </div>
        <input 
          formControlName="currentPassword"
          type="password" 
          class="form-control" 
          placeholder="Current password">
      </div>
    </div>
  </div>
  <!-- New Password -->
  <div class="row">
    <div class="col-sm-2">
      <label class="col-form-label">New Password: </label>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <fa-icon [icon]="['fas', 'lock']"></fa-icon>
          </div>
        </div>
        <input 
          formControlName="newPassword"
          type="password" 
          class="form-control" 
          placeholder="New password">
      </div>
    </div>
  </div>
  <!-- Confirm new password -->
  <div class="row">
    <div class="col-sm-2">
      <label class="col-form-label">Confirm password: </label>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <fa-icon [icon]="['fas', 'lock']"></fa-icon>
          </div>
        </div>
        <input 
          formControlName="confirmNewPassword"
          type="password" 
          class="form-control" 
          placeholder="Confirm password">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-2 col-sm-4 ">
      <button 
        class="btn btn-block btn-success"
        type="submit"
        [disabled]="!passwordForm.valid">
          Update password
      </button>
    </div>
  </div>
</form>
