<h2>Your work</h2>

<h5>Recent projects</h5>

<div class="card-deck">
  <div class="card" *ngFor="let project of recentProjects">
    <div class="card-body">
      <h5 class="card-title">{{project.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Created by: {{project.createdByFullName}}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a [routerLink]="['/projects', project.id]" class="card-link">Go to project page</a>
    </div>
  </div>
</div>

<div id="tabset">
  <tabset>
    <tab heading="Assigned to me">
      <h6 id="in-progress">IN PROGRESS</h6>
      <a
        class="issue" 
        *ngFor="let issueInProgress of inProgress" 
        [routerLink]="['/projects', issueInProgress.project.id, 'issues', issueInProgress.id]">
          <div class="issue-logo">
            <fa-icon *ngIf="issueInProgress.issueType === 'task'" [icon]="['fas', 'check-square']" size="lg" class="task"></fa-icon>
            <fa-icon *ngIf="issueInProgress.issueType === 'bug'" [icon]="['fas', 'bug']" size="lg" class="bug"></fa-icon>
          </div>
          <span class="issue-content">
            <span class="issue-name">{{issueInProgress.name}}</span>
            <small class="issue-project">{{issueInProgress.project.name}}</small>
          </span>
          <span class="issue-status">In progress</span>
      </a>

      <h6 id="to-do">TO DO</h6>
      <a 
        class="issue" 
        *ngFor="let issueToDo of toDo"
        [routerLink]="['/projects', issueToDo.project.id, 'issues', issueToDo.id]">
          <div class="issue-logo">
            <fa-icon *ngIf="issueToDo.issueType === 'task'" [icon]="['fas', 'check-square']" size="lg" class="task"></fa-icon>
            <fa-icon *ngIf="issueToDo.issueType === 'bug'" [icon]="['fas', 'bug']" size="lg" class="bug"></fa-icon>
          </div>
          <span class="issue-content">
            <span class="issue-name">{{issueToDo.name}}</span>
            <small class="issue-project">{{issueToDo.project.name}}</small>
          </span>
          <span class="issue-status">To do</span>
      </a>
    </tab>
    <tab heading="Starred">
      <h6 id="in-progress">IN PROGRESS</h6>
      <a 
        class="issue" 
        *ngFor="let issueInProgress of inProgressStarred"
        [routerLink]="['/projects', issueInProgress.project.id, 'issues', issueInProgress.id]">
          <div class="issue-logo">
            <fa-icon *ngIf="issueInProgress.issueType === 'task'" [icon]="['fas', 'check-square']" size="lg" class="task"></fa-icon>
            <fa-icon *ngIf="issueInProgress.issueType === 'bug'" [icon]="['fas', 'bug']" size="lg" class="bug"></fa-icon>
          </div>
          <span class="issue-content">
            <span class="issue-name">{{issueInProgress.name}}</span>
            <small class="issue-project">{{issueInProgress.project.name}}</small>
          </span>
          <span class="issue-status">In progress</span>
      </a>

      <h6 id="to-do">TO DO</h6>
      <a 
        class="issue" 
        *ngFor="let issueToDo of toDoStarred"
        [routerLink]="['/projects', issueToDo.project.id, 'issues', issueToDo.id]">
        <div class="issue-logo">
          <fa-icon *ngIf="issueToDo.issueType === 'task'" [icon]="['fas', 'check-square']" size="lg" class="task"></fa-icon>
          <fa-icon *ngIf="issueToDo.issueType === 'bug'" [icon]="['fas', 'bug']" size="lg" class="bug"></fa-icon>
        </div>
        <span class="issue-content">
          <span class="issue-name">{{issueToDo.name}}</span>
          <small class="issue-project">{{issueToDo.project.name}}</small>
        </span>
        <span class="issue-status">To do</span>
      </a>
    </tab>
    <tab heading="Completed">
      <h6 id="done">DONE</h6>
      <a 
        class="issue issue-done" 
        *ngFor="let issue of done"
        [routerLink]="['/projects', issue.project.id, 'issues', issue.id]">
        <div class="issue-logo">
          <fa-icon *ngIf="issue.issueType === 'task'" [icon]="['fas', 'check-square']" size="lg" class="task"></fa-icon>
          <fa-icon *ngIf="issue.issueType === 'bug'" [icon]="['fas', 'bug']" size="lg" class="bug"></fa-icon>
        </div>
        <span class="issue-content">
          <span class="issue-name">{{issue.name}}</span>
          <small class="issue-project">{{issue.project.name}}</small>
        </span>
        <span class="issue-status">Done</span>
      </a>
    </tab>

  </tabset>
</div>